* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    height: 3000px
}
header{
    background-color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.logo{
    margin-left: 360px;
}
.letras{

    padding: 20px;
    display: flex;
    align-items: center;
    margin-right: 600px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-right: 500px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    padding: 15px;
    color: aliceblue;
    font-size: 15px;
    
}

a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
.blocoazul{
background-color: #3D78B1;
height: 650px;
width: 100%;
padding-top: 90px;
}
.titulo{
    position: relative;
    left: 830px;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.h3-1, .h3-2, .h3-3{
color: #fff;
}
.div-tablet{
    position: relative;
    top: -60px;
    left: 400px;
    display: flex;
}
.div-grafico{
    position: relative;
    left: 950px;
    top: -350px;
    display: flex;
    gap: 5px;
    font-size: 15px;
    height: 39.59px;
    width: 300px;
}
.div-monitores{
    position: relative;
    left: 1300px;
    top: -400px;
    display: flex;
    gap: 5px;
    font-size: 15px;
    height: 43px;
    width: 300px;
}
.div-operacao{
    position: relative;
    left: 1100px;
    top: -350px;
    display: flex;
    gap: 5px;
    font-size: 15px;
    height: 60px;
    width: 360px;

}
.titulo-branco1{
    color: #333;
    font-size: 32px;
}
.div-titulo-branco1{
    text-align: center;
    position: relative;
    top: 40px;
}
.h3-4, .h3-5, .h3-6, .h3-7{
    color: #333;
    font-size: 16px;
}
.profissionais-certificados{
    display: flex;
    height: 55px;
    width: 285px;
    gap: 10px;
    position: relative;
    top: 150px;
    left: 360px;

}
html{
    scroll-behavior: smooth;
}
.reconhecimento-em-qualidade{
    display: flex;
    height: 55px;
    width: 285px;
    gap: 10px;
    position: relative;
    top: 100px;
    left: 660px;
}
.clientes-em-segmentos-diversos{
    display: flex;
    height: 55px;
    width: 285px;
    gap: 10px;
    position: relative;
    top: 50px;
    left: 960px;
}
.acompanhamento-em-todas-as-etapas-do-e-commerce{
    display: flex;
    height: 55px;
    width: 285px;
    gap: 10px;
    position: relative;
    top: 0px;
    left: 1260px;
}
.div-botao-solicite{
    text-align: center;
    position: relative;
    top: 100px;
    
}
.botao-solicite{
    background-color: #3D78B1;
    color: #fff;
    height: 88px;
    width: 328.06;
    font-size: 24px;
    cursor: pointer;
    border: 0.25px #FFF;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #3D78B1;
    padding: 0px 10px;
    transition: 0.3s;
}
.botao-solicite:hover{
    background-color: #fff;
    color: #3D78B1;
}
.texto-nossos-clientes{
    color: #333;
    font-size: 30px;
    position: relative;
    top: 40px;
}
.div-nossos-clientes{
    position: relative;
    text-align: center;
    top: 130px;
    background-color: #EBEBEB;
    height: 700px;
}
.div-conheca-nossos-clientes{
    position: relative;
    text-align: center;
    top: 130px;
    background-color: #ffffff;
    height: 300px;

}
.txt-conheca-nossos-clientes{
    color: #333;
    font-size:30px;
    position: relative;
    top: 30px;
}
.div-solicite-uma-proposta{
    background-color: #3D78B1;
    position: relative;
    top: 200px;
    height: 350px;
}
.txt-solicite-uma-proposta{
    color:#fff;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 32px;
}
.h3-8{
    color: #fff;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 80px;
}
.btn-solicite{
    color: #3D78B1;
    height: 88px;
    width: 328px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2px;
    border: white;
    box-shadow: 0 0 0 2px;
    transition: 0.3s;
}
.btn-solicite:hover{
    background-color: #3D78B1;
    color: #fff;
}
.div-btn{
    text-align: center;
    position: relative;
    top: 130px;
}
.div-modulos-magento{
    background-color: #fff;
    position: relative;
    top: 200px;
    height: 800px;
}
.txt-modulos-magento{
    color: #333;
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 32px;
}
.h3-9{
    color: #333;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 24px;
}
.div-itau-shopline{
    background-color: #fff;
    position: relative;
    justify-content: center;
    top: 200px;
    height: 567px;
    width: 370px;
    text-align: center;
    box-shadow: 0 0 0 4px #ecebeb;
    border-radius: 7px;
    display: flex;
    left: 350px;
}
.txt-itau-shopline, .desc-itau, .preco-riscado-itau, .por-itau, .preco-itau{
    color: #333;
}
.txt-itau-shopline{
    font-size: 24px;
    position: relative;
    top: 10px;
}
.comprar-itau{
    color: #fff;
    background-color: #3D78B1;
    cursor: pointer;
    transition: 0.3s;
    width: 199px;
    height: 66px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #3D78B1;
    border: 0;
    position: relative;
    top: 130px;
}
.comprar-itau:hover{
    background-color: #fff;
    color: #3d78b1;
}
.preco-itau{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 100px;
    left: 10px;
}
.desc-itau{
    font-size: 16px;
    position: relative;
    top: 70px;
}
.por-itau{
    font-size: 13px;
    position: relative;
    top: 130px;
    right: 80px;
}
.preco-riscado-itau{
    font-size: 13px;
    position: relative;
    top: 110px;
}
.menu{
    position: fixed;
    z-index: 100;
}
.img-itau{
    position: relative;
    top: 40px;
}


/*div checkout cielo*/

.div-cielo{
    background-color: #fff;
    position: relative;
    justify-content: center;
    top: -365px;
    height: 567px;
    width: 370px;
    text-align: center;
    box-shadow: 0 0 0 4px #ecebeb;
    border-radius: 7px;
    display: flex;
    left: 41%;
}
.txt-cielo, .desc-cielo, .preco-riscado-cielo, .por-cielo, .preco-cielo{
    color: #333;
}
.txt-cielo{
    font-size: 24px;
    position: relative;
    top: 10px;
}
.comprar-cielo{
    color: #fff;
    background-color: #3D78B1;
    cursor: pointer;
    transition: 0.3s;
    width: 199px;
    height: 66px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #3D78B1;
    border: 0;
    position: relative;
    top: 28%;
}
.comprar-cielo:hover{
    background-color: #fff;
    color: #3d78b1;
}
.preco-cielo{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 100px;
    left: 10px;
}
.desc-cielo{
    font-size: 16px;
    position: relative;
    top: 70px;
}
.por-cielo{
    font-size: 13px;
    position: relative;
    top: 130px;
    right: 80px;
}
.preco-riscado-cielo{
    font-size: 13px;
    position: relative;
    top: 110px;
}
.img-cielo{
    position: relative;
    top: 40px;
}

/*div clearsale*/

.div-clear{
    background-color: #fff;
    position: relative;
    justify-content: center;
    top: -116.5%;
    height: 567px;
    width: 370px;
    text-align: center;
    box-shadow: 0 0 0 4px #ecebeb;
    border-radius: 7px;
    display: flex;
    left: 63%;
}
.txt-clear, .desc-clear, .preco-riscado-clear, .por-clear, .preco-clear{
    color: #333;
}
.txt-clear{
    font-size: 24px;
    position: relative;
    top: 10px;
}
.comprar-clear{
    color: #fff;
    background-color: #3D78B1;
    cursor: pointer;
    transition: 0.3s;
    width: 199px;
    height: 66px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #3D78B1;
    border: 0;
    position: relative;
    top: 25%;
    justify-content: center;
}
.comprar-clear:hover{
    background-color: #fff;
    color: #3d78b1;
}
.preco-clear{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 100px;
    left: 10px;
}
.desc-clear{
    font-size: 16px;
    position: relative;
    top: 70px;
}
.por-clear{
    font-size: 13px;
    position: relative;
    top: 130px;
    right: 80px;
}
.preco-riscado-clear{
    font-size: 13px;
    position: relative;
    top: 110px;
}
.img-clear{
    position: relative;
    top: 40px;
}

.txt-veja-mais{
    color: #333;
    position: relative;
    top: -900px;
    font-size: 24px;
    left: 67%;
}
.txt-veja-mais:hover{
    color: #3D78B1;
}

.linha-azul{
    background-color: #3d78b1;
    width: 100%;
    height: 4px;
    position: relative;
    top: 420px;
}
.logoetxt{
    position: relative;
    top: 440px;
    left: 20%;
    font-size: 12px;
    color: #666;

}
.img-final{
vertical-align: bottom;
padding: 10px;
}

.img-email{
    height: 28px;
    width: 28px;
    position: relative;
    top: 330px;
    left: 37%;
}
.img-like{
    height: 24px;
    width: 28px;
    position: relative;
    top: 320px;
    left: 37%;
}
.title-contato{
    color: #333;
    font-weight: bold;
    position: relative;
    top: 315px;
    left: 37%;
}
.email{
    font-size: 14px;
    color: #666;
    position: relative;
    top: 305px;
    left: 39%;
}
.face{
    font-size: 14px;
    color: #666;
    position: relative;
    top: 300px;
    left: 39%;
}

/*css contato e empresa*/

.contato-final{
    position: relative;
    left: 1%;
}
.div-empresa{
    color: #333;
    position: relative;
    top: 200px;
    left: 58%;

}
.qs{
    color: #666;
    position: relative;
    left: -15px;
    top: 10px;
    font-size: 14px;
}
.qs:hover{
    color: #666;
    text-decoration: underline;
}
.s{
    color: #666;
    position: relative;
    left: -127px;
    top: 40px;
    font-size: 14px;
}
.s:hover{
    color: #666;
    text-decoration: underline;
}

.fc{
    color: #666;
    position: relative;
    left: -212px;
    top: 70px;
    font-size: 14px;
}
.fc:hover{
    color: #666;
    text-decoration: underline;
}
.c{
    color: #666;
    position: relative;
    left: -326px;
    top: 100px;
    font-size: 14px;
}
.c:hover{
    color: #666;
    text-decoration: underline;
}

/*css minha conta*/

.div-conta{
    color: #333;
    position: relative;
    top: 162px;
    left: 70%;

}
.criar{
    color: #666;
    position: relative;
    left: -15px;
    top: 10px;
    font-size: 14px;
}
.criar:hover{
    color: #666;
    text-decoration: underline;
}
.acessar{
    color: #666;
    position: relative;
    left: -145px;
    top: 40px;
    font-size: 14px;
}
.acessar:hover{
    color: #666;
    text-decoration: underline;
}

.atendimento{
    color: #666;
    position: relative;
    left: -305px;
    top: 70px;
    font-size: 14px;
}
.atendimento:hover{
    color: #666;
    text-decoration: underline;
}
.politica{
    color: #666;
    position: relative;
    left: -485px;
    top: 100px;
    font-size: 14px;
}
.politica:hover{
    color: #666;
    text-decoration: underline;
}

.linha-azul-fina{
    background-color: #3D78B1;
    width: 100%;
    height: 1px;
    position: relative;
    top: 280px;
}
.magento-lara{
    position: relative;
    top: 300px;
    left: 22%;
}
.abcomm{
    position: relative;
    top: 250px;
    left: 30%;
}
.magento-red{
    position: relative;
    top: 190px;
    left: 45%;
}
.amazon{
    position: relative;
    top: 130px;
    left: 58%;
}
.google{
    position: relative;
    top: 80px;
    left: 70%;
}
.ultimo{
    position: relative;
    top: 110px;
    text-align: center;
}